@font-face {
  font-family: "Goorm Sans";
  src: url("./goorm-sans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goorm Sans";
  src: url("./goorm-sans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Goorm Sans";
  src: url("./goorm-sans-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
